/* font */
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Poppins&display=swap");

body {
    background: linear-gradient(217deg, rgba(255, 55, 95, 0.4), rgba(255, 55, 95, 0) 70.71%),
        linear-gradient(127deg, rgba(255, 214, 10, 0.4), rgba(255, 214, 10, 0) 70.71%),
        linear-gradient(336deg, rgba(94, 92, 230, 0.4), rgba(94, 92, 230, 0) 70.71%);

    font-family: "Poppins";
    min-height: 100vh;
    min-width: 100vw;
    margin: 0px;
    padding: 10px;
    overflow-x: hidden;
    box-sizing: border-box;
}

.App {
    font-family: "IM Fell French Canon SC", serif; /* logo */
    font-family: "Poppins", sans-serif; /* title */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #eeeeee;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#c2e59c, #64b3f4);
    border-radius: 5px;
}
